/* PORNBRX GRID */
.porn-grid-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

.porn-grid-1 {
    width: 20%;
    display: flex;
    align-items: center;
}

.porn-grid-2 {
    width: 40%;
    display: flex;
    align-items: center;
}

.porn-grid-3 {
    width: 60%;
    display: flex;
    align-items: center;
}

.porn-grid-4 {
    width: 80%;
    display: flex;
    align-items: center;
}

.porn-grid-5 {
    width: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .porn-grid-md-1 {
        width: 25%;
        display: flex;
        align-items: center;
    }

    .porn-grid-md-2 {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .porn-grid-md-3 {
        width: 75%;
        display: flex;
        align-items: center;
    }

    .porn-grid-md-4 {
        width: 100%;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .porn-grid-sm-1 {
        width: 33%;
        display: flex;
        align-items: center;
    }

    .porn-grid-sm-2 {
        width: 66%;
        display: flex;
        align-items: center;
    }

    .porn-grid-sm-3 {
        width: 100%;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
    .porn-grid-xs-1 {
        width: 48%;
        display: flex;
        align-items: center;
    }

    .porn-grid-xs-2 {
        width: 100%;
        display: block;
        align-items: center;
    }
}