/* GUIDELINE ASSETS */

/* COLOR'S:         */
/* RED: #b10000;    */
/* BLUE: #23488d;   */
/* GRAY: #1b1b1b;   */

/* GENERAL STYLE */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inria Sans', sans-serif;
}

.display-mobile {
    display: none!important;
}

#link-logo-lgbt {
    display: none;
}

#inicio-lgbt {
    display: none;
}

.containerHome {
    margin-top: 70px;
}

.containerHome .thumb-img {
    text-align: center;
}

#textoErro2 {
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
}

#textoErro2 .textoErroContent {
    text-align: center;
    margin-top: 100px;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    justify-content: center;
    align-items: center;
}

#modal .content-modal {
    width: 70%;
    /*height: 270px;*/
    background: white;
    z-index: 999;
    border-radius: 20px;
    padding: 5px 20px;
    position: relative;
}

#modal .content-modal .close-modal {
    color: #24488d;
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    border: 0;
    font-size: 20px;
    font-weight: bold;
}

#modal .content-modal h2 {
    text-align: center;
}

#modal .content-modal .porn-grid-container {
    display: flex;
    justify-content: space-between;
}

#modal .content-modal .porn-grid-container a {
    text-decoration: none;
    text-align: center;
}

#modal a {
    text-decoration: none!important;
}

#modal .content-modal .porn-grid-container a span {
    display: block;
    background: #23488d;
    color: #ffffff;
    margin-top: 11px;
    padding: 5px;
    border-radius: 10px;
}

#modal .content-modal #remove-hand span {
    display: block;
    background: #23488d;
    color: #ffffff;
    margin-top: 11px;
    padding: 12px;
    border-radius: 10px;
    margin: 25px 16px;
    text-align: center;
}

#modal .bg-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#main-container {
    min-height: 600px;
}

#main-container #container {
    min-height: 600px;
    position: relative;
}

#load-container {
    display: none;
    position: fixed;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
	height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-spinner {
    position: absolute;
    width: 50px;
	height: 50px;
	border: 4px rgb(36, 72, 141) solid;
	border-top: 4px rgba(255, 255, 255, 1) solid;
	border-radius: 50%;
	-webkit-animation: spCircRot .6s infinite linear;
	animation: spCircRot .6s infinite linear;
}

#load-container img {
    height: 31px;
    width: 21px;
}

@-webkit-keyframes spCircRot {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}

@keyframes spCircRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

#head-container {
    background-color: #1b1b1b;
    margin-top: -20px;
    padding-top: 20px;
}

#head-container #brand-name h1 {
    color: #ffffff;
}

#head-container #brand-name {
    margin: 13px auto;
}

#head-container #brand-name h1 span {
    background: #23488d;
    border-radius: 7px;
    padding: 0 5px;
    margin-left: 5px;
}

#head-container #brand-name img {
    margin-right: 20px;
    max-width: 230px;
}

#head-container #main-menu {
    position: relative;
    border-top: 1px solid #242424;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#head-container #main-menu ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    /*margin-top: 0;*/
}

#head-container #main-menu ul li {
    margin: 10px;
}

#head-container #main-menu ul li:nth-of-type(1) {
     margin-left: 0px;
}

#head-container #main-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

#head-container #main-menu ul li a:hover {
    color: #23488d;
}

#head-container #main-menu ul li #sub-menu {
    display: none;
    position: absolute;
    background-color: #1b1b1b;
    width: 100%;
    left: 0;
    z-index: 9;
}

#head-container #main-menu ul li:hover #sub-menu {
    display: block;
}

#head-container #main-menu ul li:hover #sub-menu ul {
     border-top: 2px solid #23488d;
     margin-top: 14px;
     padding: 10px;
}

#head-container #main-menu ul li #sub-menu ul li:nth-of-type(1) {
    margin-left: 54px;
}

#head-container #main-menu ul li:hover #sub-menu #sub-menu-ul {
    display: block!important;
    max-height: 600px;
    -webkit-columns: 100px 4;
    -moz-columns: 100px 4;
    columns: 100px 4;
}

#head-container #main-menu ul li:hover #sub-menu #sub-menu-ul li:nth-of-type(1) {
    margin-left: 10px!important;
}

#head-container #main-menu ul li:hover #sub-menu #sub-menu-ul input {
    cursor: pointer;
    background-color: #1b1b1b;
    color: #ffffff;
    border: 0;
    transition: 0.3s;
}

#head-container #main-menu ul li:hover #sub-menu #sub-menu-ul input:hover {
    color: #23488d;
}

#head-container #main-menu .menu-genero {
    display: flex;
    align-items: center;
}

#head-container #main-menu .menu-genero .check-genero {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

#head-container #main-menu .menu-genero .check-genero p {
    color: #ffffff;
    margin-right: 5px;
}

#breadcrumb-container .category-title {
    color: #ffffff;
    text-transform: capitalize;
}

/* SEARCH BAR */
#brand-name .search-container {
  float: right;
  position: relative;
}

#brand-name .search-container #textoErro {
    position: absolute;
    color: #1b1b1b;
    top: 52px;
    z-index: 999;
    background: #dddddd;
    padding: 10px 15px;
    border-radius: 9px;
    display: none;
}

#brand-name .search-container #textoErro:after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 20px;
    margin-left: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #dddddd transparent;
}

#brand-name .search-container form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#brand-name input[type=text] {
    padding: 5px;
    margin-top: 8px;
    font-size: 17px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #363636;
    color: #cacaca;
    border: 1px solid #555;
    width: inherit;
}

#brand-name .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#brand-name .search-container button:hover {
  background: #ccc;
}

/* TOGGLE BUTTON - DARK/WHITE MODE */
#brand-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#brand-name .dark-mode {
    justify-content: flex-end;
}

#brand-name .dark-mode p {
    color: #ffffff;
    display: inline-block;
    vertical-align: bottom;
    line-height: 0;
    margin-right: 10px;
}

#brand-name .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#brand-name .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#brand-name .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#brand-name .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#brand-name input:checked + .slider {
  background-color: #23488d;
}

#brand-name input:focus + .slider {
  box-shadow: 0 0 1px #23488d;
}

#brand-name input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#brand-name .slider.round {
  border-radius: 34px;
}

#brand-name .slider.round:before {
  border-radius: 50%;
}

/* DARK MODE VIEW */
.darkModeView {
    background-color: #000000;
}

.darkModeView #breadcrumb-container .category-title,
.darkModeView .thumb-img .videoName {
    color: #ffffff!important;
}

.whiteModeView #breadcrumb-container .category-title,
.whiteModeView .thumb-img .videoName {
    color: #000000!important;
}

.whiteModeView #main-container .paginacao input {
    background: #1b1b1b!important;
    color: #ffffff!important;
}

.whiteModeView .termo p {
    color: #1b1b1b;
}


/* CATEGORY STYLE */
#main-container #container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main-container #container .thumb-img {
    margin-bottom: 40px;
}

#main-container #container .thumb-img .imgTime {
    position: relative;
}

#main-container #container .thumb-img .durationVideo {
    position: absolute;
    z-index: 3;
    bottom: 4px;
    left: 0;
    background: #ffffff;
    padding: 3px;
    display: block;
    font-size: 13px;
    color: #000000;
    font-weight: 700;
}

#main-container #container .thumb-img a {
    text-decoration: none;
}

#main-container #container .thumb-img a .imgThumb {
    transition: 0.3s;
    max-width: 240px;
    min-width: 240px;
}

#main-container #container .thumb-img a:hover .imgThumb {
    opacity: 0.6;
}

#main-container #container .thumb-img .videoName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    word-wrap: break-word;
    max-width: 220px;
    color: #ffffff;
    text-transform: uppercase;
}

#main-container #container .thumb-img .nomeDoSite {
    font-size: 13px;
    color: #24488d;
    font-weight: bold;
}

#main-container .conteinerPaginacao {
    display: flex;
    justify-content: center;
}

#main-container .conteinerPaginacao .paginacao {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

#main-container .conteinerPaginacao .paginacao input {
    background: #FFFFFF;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    min-width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

#main-container .conteinerPaginacao .pagDestaque input {
    font-size: 13px;
    font-weight: normal;
    border: 2px solid;
    background: #000000!important;
    color: #FFFFFF!important;
    letter-spacing: 2px;
    padding: 0 14px;
}

#main-container .conteinerPaginacao .paginacao input:disabled {
    background: #23488d!important;
    color: #FFFFFF!important;
    cursor: default!important;
    border: 0!important;
}

/* FOOTER */
#footer-container {
    background-color: #1b1b1b;
    text-align: center;
    padding: 40px 0;
}

#footer-container #logo-container {
    width: 100%;
    border-bottom: 1px solid #2f2f2f;
    padding: 20px 0;
}

#footer-container #logo-container img {
    max-width: 250px;
    height: auto;
}

#footer-container .menu-container {
    display: flex;
    justify-content: space-between;
}

#footer-container .menu-container .menu-rodape {
    text-align: left!important;
}

#footer-container .menu-container .menu-rodape h2 {
    color: #8c8c8c;
}

#footer-container .menu-container .menu-rodape ul {
    list-style: none;
    padding: 0!important;
}

#footer-container .menu-container .menu-rodape ul li {
    margin: 5px 0;
}

#footer-container .menu-container .menu-rodape ul li a {
    text-decoration: none;
    color: #23488d;
}

 /*#footer-container .copyright {
    display: flex;
    justify-content: space-between;
   margin-top: 40px;
}
*/

#footer-container .copyright .social a {
    color: #494949;
    margin-right: 10px;
    text-decoration: none;
    transition: 0.3s;
}

#footer-container .copyright .social a i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 1.5em;
    border-radius: 8px;
    font-size: 21px;
    border: 3px solid;
}

#footer-container .copyright .social a:hover {
    color: #23488d;
}

#footer-container .copyright p {
    color: #494949;
}

#footer-container #DW {
    margin-top: 42px;
}

#footer-container .copyright #DW a {
    text-decoration: none;
}

#footer-container .copyright #DW a img {
    max-width: 60px;
    height: auto;
}

.termo p {
    color: #ffffff;
}

.termo p span {
    color: #23488d;
}

#linkTermo input {
    border: 0;
    background: transparent;
    color: #24488d;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    padding-left: 0;
}

.frase {
    border-top: 1px solid #2f2f2f;
    margin-top: 20px;
}

.frase p span {
    color: #494949;
    font-style: italic;
    font-weight: bold;
}

/* STYLE BANNERS ADS */
.flex-ads {
    display: flex;
    justify-content: space-between;
}

.container-ads {
    text-align: center;
}

.ads-desktop-header {
    margin-top: 30px;
}

.ads-mobile-header {
    margin-top: 30px;
}

.ads-desktop-footer {
    margin-bottom: 30px;
}

.ads-mobile-footer {
    margin-bottom: 30px;
}